**Technical Exercise**

In [100]:
# Importing excel file

import pandas as pd
import numpy as np
missing_value= ["n/a", "na", "--", "PrivacySuppressed", "privacysupressed"]
df = pd.read_excel('/Users/leonardo/Dropbox/Suffolk_MSBA/DHL/Cut_Data_12.1.21_to_2.28.22.xlsx', sheet_name='Dataset_1',na_values = missing_value)
df.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2092690050,5826051280,WALMART HVDC 7016,2,41912000,BGLS CRSPY CORN SNCKS ORIG VAL SZ,32.0,32,0.0,32,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
1,2092690050,5826051280,WALMART HVDC 7016,1,1368000,CM SVRY SNCK MX BOLD PARTY BLEND,180.0,180,0.0,180,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
2,2092690050,5826051280,WALMART HVDC 7016,3,46813000,GARD SR RYE CHIPS GARLIC,120.0,0,-120.0,0,OUT OF STOCK,12/19/2021 21:35:39,21:35,TGERHARDS,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
3,2092690050,5826051280,WALMART HVDC 7016,4,15242000,BC FRT ROLLUPS JOLLY RCHR 20CT,105.0,105,0.0,105,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
4,2092690050,5826051280,WALMART HVDC 7016,5,16474000,BC FRU PIZZA PEEL N BUILD 20CT,105.0,11,-94.0,11,OUT OF STOCK,12/19/2021 21:36:05,21:36,TGERHARDS,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65500 entries, 0 to 65499
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Order Number           65500 non-null  int64
 1   Purchase Order         65500 non-null  object
 2   Ship To Address        65500 non-null  object
 3   ord line               65500 non-null  int64
 4   item                   65500 non-null  int64
 5   Description            65500 non-null  object
 6   customer line ord qty  65450 non-null  float64
 7   line ord qty           65500 non-null  int64
 8   adj qty                65450 non-null  float64
 9   ship qty               65500 non-null  int64
 10  cut reason             7672 non-null   object
 11  cut date               7672 non-null   object
 12  cut time               7672 non-null   object
 13  user                   7672 non-null   object
 14  early_shpdte           65500 non-null  datetime64[ns]
 15  close_dte              65500 non-null  datetime64[ns]
 16  dispatch_dte           65500 non-null  datetime64[ns]
 17  arrive_dte             65500 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(5), object(7)
memory usage: 9.0+ MB

In [74]:
df.shape

(65500, 18)

**Filtering Data.**

<u>Dataset_1<u>

Excluding 'Ship To Address' = 'FAKE CUSTOMER'

In [75]:
df_filtered = df[(df['Ship To Address']!='FAKE CUSTOMER')]
df_filtered.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2092690050,5826051280,WALMART HVDC 7016,2,41912000,BGLS CRSPY CORN SNCKS ORIG VAL SZ,32.0,32,0.0,32,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
1,2092690050,5826051280,WALMART HVDC 7016,1,1368000,CM SVRY SNCK MX BOLD PARTY BLEND,180.0,180,0.0,180,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
2,2092690050,5826051280,WALMART HVDC 7016,3,46813000,GARD SR RYE CHIPS GARLIC,120.0,0,-120.0,0,OUT OF STOCK,12/19/2021 21:35:39,21:35,TGERHARDS,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
3,2092690050,5826051280,WALMART HVDC 7016,4,15242000,BC FRT ROLLUPS JOLLY RCHR 20CT,105.0,105,0.0,105,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
4,2092690050,5826051280,WALMART HVDC 7016,5,16474000,BC FRU PIZZA PEEL N BUILD 20CT,105.0,11,-94.0,11,OUT OF STOCK,12/19/2021 21:36:05,21:36,TGERHARDS,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26

In [76]:
df_filtered.shape

(65500, 18)

In [77]:
import pandas as pd
import numpy as np
missing_value= ["n/a", "na", "--", "PrivacySuppressed", "privacysupressed"]
df2 = pd.read_excel('/Users/leonardo/Dropbox/Suffolk_MSBA/DHL/Cut_Data_12.1.21_to_2.28.22.xlsx', sheet_name='Dataset_2',na_values = missing_value)
df2.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),23,149901000,AH ORG VEGAN MAC PSTA SC CHEDDAR,28.0,28,0.0,28,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
1,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),24,149401000,AH ORG CHDR BUNNIES BKD SNCK CRCKRS,36.0,36,0.0,36,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
2,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),25,110163000,PRO LT SOUP CREAMY CHICKEN NOODLE,224.0,224,0.0,224,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
3,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),26,12593000,GMI CINNAMON TOAST CRUNCH CEREAL LS,252.0,252,0.0,252,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
4,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),27,12479000,GMI HONEY NUT CHEERIOS CEREAL MID,80.0,80,0.0,80,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50

In [78]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65500 entries, 0 to 65499
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Order Number           65500 non-null  int64
 1   Purchase Order         65500 non-null  object
 2   Ship To Address        65500 non-null  object
 3   ord line               65500 non-null  int64
 4   item                   65500 non-null  int64
 5   Description            65500 non-null  object
 6   customer line ord qty  65457 non-null  float64
 7   line ord qty           65500 non-null  int64
 8   adj qty                65457 non-null  float64
 9   ship qty               65500 non-null  int64
 10  cut reason             6719 non-null   object
 11  cut date               6719 non-null   object
 12  cut time               6719 non-null   object
 13  user                   6719 non-null   object
 14  early_shpdte           65500 non-null  datetime64[ns]
 15  close_dte              65500 non-null  datetime64[ns]
 16  dispatch_dte           65500 non-null  datetime64[ns]
 17  arrive_dte             65500 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(5), object(7)
memory usage: 9.0+ MB

In [79]:
df2.shape

(65500, 18)

**Filtering Data.**

<u>Dataset_2<u>

Excluding 'Ship To Address' = 'FAKE CUSTOMER'

In [80]:
df2_filtered = df2[(df2['Ship To Address']!='FAKE CUSTOMER')]
df2_filtered.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),23,149901000,AH ORG VEGAN MAC PSTA SC CHEDDAR,28.0,28,0.0,28,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
1,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),24,149401000,AH ORG CHDR BUNNIES BKD SNCK CRCKRS,36.0,36,0.0,36,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
2,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),25,110163000,PRO LT SOUP CREAMY CHICKEN NOODLE,224.0,224,0.0,224,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
3,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),26,12593000,GMI CINNAMON TOAST CRUNCH CEREAL LS,252.0,252,0.0,252,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50
4,2092808371,5MWW64NN,HSE1 AMAZON FRESH (H),27,12479000,GMI HONEY NUT CHEERIOS CEREAL MID,80.0,80,0.0,80,NaN,NaN,NaN,NaN,2022-02-12 12:00:00,2022-02-12 16:20:15,2022-02-12 20:27:37,2022-02-09 09:11:50

In [81]:
df2_filtered.shape

(65500, 18)

**Filtering Data.**

<u>Dataset_3<u>

Excluding 'Ship To Address' = 'FAKE CUSTOMER'

In [91]:
import pandas as pd
import numpy as np
missing_value= ["n/a", "na", "--", "PrivacySuppressed", "privacysupressed"]
df3 = pd.read_excel('/Users/leonardo/Dropbox/Suffolk_MSBA/DHL/Cut_Data_12.1.21_to_2.28.22.xlsx', sheet_name='Dataset_3',na_values = missing_value)
df3.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,18.0,49934000.0,BC BISQUICK HEART SMART PNCK BKG MX 6PK,30.0,30.0,0.0,30.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
1,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,19.0,110151000.0,OEP SNS TACO SHELLS HINT OF LIME 10CT,36.0,0.0,-36.0,0.0,OUT OF STOCK,02/14/2022 14:25:25,14:25,HARDPATEL,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
2,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,20.0,110739000.0,CF ORG CHWY GRAN BARS VAN CHIP 10CT,14.0,14.0,0.0,14.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
3,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,21.0,110932000.0,LB KID BARS CHOC CHIP COOKIE 6CT,14.0,14.0,0.0,14.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
4,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,1.0,189107000.0,PRO BREAD CRUMBS ITALIAN STYLE,12.0,12.0,0.0,12.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38

In [92]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43716 entries, 0 to 43715
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Order Number           43342 non-null  float64
 1   Purchase Order         43342 non-null  object
 2   Ship To Address        43716 non-null  object
 3   ord line               43342 non-null  float64
 4   item                   43342 non-null  float64
 5   Description            43342 non-null  object
 6   customer line ord qty  43283 non-null  float64
 7   line ord qty           43342 non-null  float64
 8   adj qty                43283 non-null  float64
 9   ship qty               43329 non-null  float64
 10  cut reason             5336 non-null   object
 11  cut date               5336 non-null   object
 12  cut time               5336 non-null   object
 13  user                   5336 non-null   object
 14  early_shpdte           43329 non-null  datetime64[ns]
 15  close_dte              43329 non-null  datetime64[ns]
 16  dispatch_dte           43329 non-null  datetime64[ns]
 17  arrive_dte             43329 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(7), object(7)
memory usage: 6.0+ MB

In [93]:
df3.shape

(43716, 18)

In [94]:
df3_filtered = df3[(df3['Ship To Address']!='FAKE CUSTOMER')]
df3_filtered.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,18.0,49934000.0,BC BISQUICK HEART SMART PNCK BKG MX 6PK,30.0,30.0,0.0,30.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
1,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,19.0,110151000.0,OEP SNS TACO SHELLS HINT OF LIME 10CT,36.0,0.0,-36.0,0.0,OUT OF STOCK,02/14/2022 14:25:25,14:25,HARDPATEL,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
2,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,20.0,110739000.0,CF ORG CHWY GRAN BARS VAN CHIP 10CT,14.0,14.0,0.0,14.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
3,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,21.0,110932000.0,LB KID BARS CHOC CHIP COOKIE 6CT,14.0,14.0,0.0,14.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38
4,2.092829e+09,9676146445,WAL-MART DC 6080A-ASM DIST,1.0,189107000.0,PRO BREAD CRUMBS ITALIAN STYLE,12.0,12.0,0.0,12.0,NaN,NaN,NaN,NaN,2022-02-14 23:00:00,2022-02-14 18:50:29,2022-02-15 09:44:00,2022-02-10 03:52:38

In [95]:
df3_filtered.shape

(43342, 18)

In [96]:
# Downloading file for Presentation

df3_filtered.to_excel("/Users/leonardo/Dropbox/Suffolk_MSBA/DHL/NO_FAKE_CUST_DATASET.xlsx")

In [97]:
df4_unionall = pd.concat([df_filtered,df2_filtered,df3_filtered], ignore_index=True)
df4_unionall.head()

,Order Number,Purchase Order,Ship To Address,ord line,item,Description,customer line ord qty,line ord qty,adj qty,ship qty,cut reason,cut date,cut time,user,early_shpdte,close_dte,dispatch_dte,arrive_dte
0,2.092690e+09,5826051280,WALMART HVDC 7016,2.0,41912000.0,BGLS CRSPY CORN SNCKS ORIG VAL SZ,32.0,32.0,0.0,32.0,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
1,2.092690e+09,5826051280,WALMART HVDC 7016,1.0,1368000.0,CM SVRY SNCK MX BOLD PARTY BLEND,180.0,180.0,0.0,180.0,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
2,2.092690e+09,5826051280,WALMART HVDC 7016,3.0,46813000.0,GARD SR RYE CHIPS GARLIC,120.0,0.0,-120.0,0.0,OUT OF STOCK,12/19/2021 21:35:39,21:35,TGERHARDS,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
3,2.092690e+09,5826051280,WALMART HVDC 7016,4.0,15242000.0,BC FRT ROLLUPS JOLLY RCHR 20CT,105.0,105.0,0.0,105.0,NaN,NaN,NaN,NaN,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26
4,2.092690e+09,5826051280,WALMART HVDC 7016,5.0,16474000.0,BC FRU PIZZA PEEL N BUILD 20CT,105.0,11.0,-94.0,11.0,OUT OF STOCK,12/19/2021 21:36:05,21:36,TGERHARDS,2021-12-20 05:05:00,2021-12-19 21:39:34,2021-12-20 14:56:03,2021-12-18 15:20:26

In [98]:
df4_unionall.shape

(174342, 18)

In [99]:
# Downloading file to build the Dashboard

df3_filtered.to_excel("/Users/leonardo/Dropbox/Suffolk_MSBA/DHL/DATASET_for_Dashboard.xlsx")